@model List<SelectListItem>
@{
    ViewBag.Title = "Index";
}

<br />
<h4>Mantenimiento de Catálogos</h4>
<div class="alert aler-@ViewBag.alerta"></div>
<div class="row">
    <!--
        <div class="col-md-12">
            <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Catalogo/Grabar")'" value="Editar"/>
        </div>
    -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            Catalogo
            @Html.DropDownList("Catalogo",Model, new { @class = "form-control" } )
            
        </div>
    </div>
</div>
<script>
    function jsEliminar(id) {
        if (confirm("Esta Seguro de Eliminar Registro?") {
            url = "@Url.Content("~/Parametros/Eliminar")" + "/" + id;

            $.post(url, Function(data){
                if(data== "1"){
                document.location.href = "@Url.Content("~/Parametros")"
            }else {
                alert("Ocurrio un Error al Eliminar")
            }
            })
        }

    }
</script>
